/*.initombol {
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: 'Trebuched MS', sans-serif;
    height: 100px;
    width: 350px;
    border-radius: 20px;
}

.hasil {
	background-color: steelblue;
	color: white;
	font-size: 40px;  
    padding: 100px;
    text-align: center;
}

/*tampilan hp*/
/*@media (max-width: 600px) {
  button {
      display: none;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    button{
        background-color: blue !important;
        color: white !important;
    }
    body {
        background-color: black;
        background-image: none !important;
    }
}

#daftar {
    background: white;
    color: black;
    font-size: 15px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

.judul {
    text-align: center;
    margin-top: 20px;
}*/

#formulir_pendaftaran {
    display: none;
}

.jumbotron {
    background-image: url(img/gambar2.jpg);
    background-size: cover;
    height: 800px;
    margin-top: -200;
}

.jumbotron .container {
    margin-top: 250px;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 15px;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
